
.pic{
    float: left;
    height: 100%;
    width: 375px;
    
   
   
   
}
.pic img{
    width: 100%;
    height: 100%;
}
.login-header{
    float: right;
    width: 974px;
    height: 80px;
   
}

.header-lt{
    float: left;
    height: 40px;
    line-height: 40px;
    font-weight: 500;
    font-size: 26px;
   
    margin: 20px 0;
}
.header-lt>.icon{
 margin: 0 10px;
}
.icon img{
    width: 40px;
    height: 40px;
}
.header-gt{
    float: left;
}
.header-gt ul,li{
    float: left;
}
.header-gt ul{
    margin-top: 20px;
}
.header-gt li{
  margin-left: 20px;
  height: 40px;
  line-height: 40px;
}
.header-gt li a{
    color: #838383;
    font-size: 14px;
    font-weight: 400;
}
.header-gt li span{
    color: #838383;
}
.header-gt li a:hover{
    color: orange;
}

.login{
   
   
   height: 705px;
  width: 974px;
  
    float: right;
}
.login .card{
    width: 450px;
    height: 600px;
   
    box-sizing: border-box;
    border-radius:4px;
    position: relative;
    text-align: left;
    box-shadow: 0 20px 50px 0;
    padding: 40px 45px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 260px;
}
.card .switch{
    position: absolute;
    width: 60px;
    height: 60px;
     top:-22px;
    right:-22px;
    opacity: 0.4;
    border-style: solid;
    border-width: 32px;
    background-size: cover;
    transition: all 0.3s cubic-bezier(.645,.045,.355,1);;
    border-color:rgba(0,0,0,0) 
}
.switch> .iconfont{
    font-size: 48px;
    
}
.card .dlzc>a:nth-child(1){
    color: #333;
    font-size: 22px;
    font-weight: 400;
    border-bottom: 4px solid #ff5c00;
    border-radius: 2px;
}
.card .dlzc>a:nth-child(2){
    color: #333;
    font-size: 22px;
    font-weight: 400;
    margin-left: 10px;
}

.login .ipt{
   margin: 20px 0 10px ;
   
}

.ipt .mi-input{
    width: 100%;
    height: 60px;
    padding: 30px 20px 10px;
    box-sizing: border-box;
    border: none;
    font-size: 17px;
    color: #333;
    font-family: inherit;
    line-height: 20px;
    background: #f9f9f9 ;

}

#password{
    margin-top: 20px;
}
.ipt button{
    width: 100%;
    height: 60px;
    margin: 30px 0 10px;
    background-color: #ff5c00;
    border: 0;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;

}
.yz{
    
    
    height: 35px;
    margin: 20px 0 10px;
    width: 100%;
}
.yz  .yz-left{
    font-size: 17px;
    color: #ff5c00;
    float: left;
}
.yz  .yz-right{
    font-size: 17px;
    color: #ff5c00;
    float: right;
}
.login-title{
    text-align: center;
    color: #aaa;
    font-size: 17px;
    line-height: 40px;
  
    font-weight:  400;
}
.login-app{
    width: 100%;

}
.login-app>ul{
    margin-top: 10px;
    height: 46px;
}
.login-app>ul>li{
    margin: 0 19px;
    text-align: center;
}

.copyright{
    width: 974px;
    color: #999;
    text-align: center;
    margin-top: 150px;
}